.read {
  height: 400px;
  width: 400px;
  margin-left: 550px;
}

.word {
  font-size: 25px;
  font-family: Raleway;
}

.pepe {
  margin-left: 300px;
}

.form-group1 {
  height: 100px;
  width: 400px;
  margin-left: 280px;
}

.form-group2 {
  height: 100px;
  width: 400px;
  margin-left: 500px;
}
