.read {
  height: 400px;
  width: 400px;
  margin-left: 550px;
}

.word {
  font-size: 25px;
  font-family: Raleway;
}

.tn {
  height: 50px;
  width: 200px;
  border-radius: 35px;
  border: none;
  font-family: Raleway;
  font-size: 20px;
  font-weight: semi-bold;
}
