{% extends "base.html"%}

{% block content %}
<image class="read mt-5" src="{{url_for('static',filename = 'images/read.png')}}"></image>
<div class="text-center mt-5">
    <h1 class="word text-center">{{ user.username }}</h1>
    <a href="{{url_for('main.register')}}" style="font-family:Raleway; font-size:20px;">register</a>
    <p style="font-family:Raleway; font-size:25px;">{{ users.usersname}}</p>
    <a href="{{url_for('main.login')}}" style="font-family:Raleway; font-size:20px;">Login</a>


    {% endblock%}